In [41]:
A = pd.read_excel('Lab Session Data.xlsx',usecols=[1,2,3])

In [43]:
B = pd.read_excel('Lab Session Data.xlsx',usecols=[4])

In [45]:
A.head()

   Candies (#)  Mangoes (Kg)  Milk Packets (#)
0           20             6                 2
1           16             3                 6
2           27             6                 2
3           19             1                 2
4           24             4                 2

In [47]:
B.head()

   Payment (Rs)
0           386
1           289
2           393
3           110
4           280

In [68]:
C= np.linalg.pinv(A)

In [70]:
X=np.dot(C,B)

In [72]:
X

array([[ 1.],
       [55.],
       [18.]])

In [74]:
X.ndim

2

In [76]:
np.linalg.matrix_rank(X)

1

In [87]:
(np.linalg.pinv(A))

array([[-0.01008596, -0.03124505,  0.01013951,  0.0290728 ,  0.0182907 ,
         0.01161794, -0.00771348,  0.00095458,  0.01743623, -0.00542016],
       [ 0.09059668,  0.07263726,  0.03172933, -0.09071908, -0.01893196,
        -0.06926996,  0.05675464,  0.03152577, -0.07641966,  0.00357352],
       [ 0.00299878,  0.15874243, -0.05795468, -0.06609024, -0.06295043,
         0.03348017,  0.01541831, -0.01070461,  0.00029003,  0.05938755]])